.container{
    text-align: center;
    margin-top: 153px;
    background-color: white;
    height: 171px;
    width: 306px;
    margin-left: 400px;
    border: 2px solid;

}  
table {
    height: 130px;
}
tr{
    margin: 10px;
} 

tbody{
    margin: 20px;
}

[type=text]{
    padding-left: 10px;
}
#f1{
    color: green;
}
#f2{
    color: red;
    
}